<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
            {% load bootstrap5 %}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    
</head>
<body>
    
    
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Домашка</a>
            <a href="/music/" class="btn btn-info">Текст песни</button>
            <a href="/car/" class="btn btn-info">Автомобили</button>
            <a href="/week/" class="btn btn-info">Дни недели</a>
            <a href="/headphones/" class="btn btn-info">Наушники</a>
        </div>
        
    </nav>
    
    {%block body%}

    {%endblock%}

    
    
</body>
</html>