{% extends "core/basa.html" %}
{%block body%}
<hr>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="/car/" class="btn btn-info">Home</a>
        <a href="/car/toyota" class="btn btn-info">Toyota</a>
        <a href="/car/honda" class="btn btn-info">Honda</a>
        <a href="/car/renault" class="btn btn-info">Renault</a>
    </div>
    
</nav>
    <h1 style="text-align: center; color: aqua;">Car Home</h1>

    <hr>
    <h2 style="text-align: center; color: aqua;">{{ data }}</h2>
    <hr>
{%endblock%} 