{% extends "core/basa.html" %}
{%block body%}

    <h1 style="text-align: center; color: aqua;">Week</h1>
    
    <hr>
    <form method="post" action="/week/"  style="text-align: center; color: aqua;">
        {% csrf_token %}
        <p>
            Input Week:<br />
            <select multiple name="Week">   
                <option>mondey</option>
                <option>tuesday</option>
                <option>wednesday</option>
                <option>thursday</option>
                <option>friday</option>
                <option>saturday</option>
                <option>sunday</option>
             </select>
        </p>
        <input type="submit" value="Send" />
    </form>
    <hr>
    <h2 style="text-align: center; color: aqua;">{{ color }}</h2>
    <hr>
{%endblock%} 